@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    height: 100%;
}

p {
    color: aqua;
    font-size: 25px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

img:hover {
    position: relative;
    top: -5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #3a4750;
    overflow: hidden;
}

img {
    width: 40px;
}

.icons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.icon {
    margin: 0 5px;
}