html {
    height: 100%;
}

p {
    color: aqua;
    font-family: cursive;
    text-align: center;
}

img:hover {
    position: relative;
    top: -5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #3a4750;
    overflow: hidden;
}

img {
    width: 40px;
}

.icons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.icon {
    margin: 0 5px;
}